################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/imbACE.Controls.WPF/obj
/imbACE.Core.Document
/imbACE.DemoConsole
/imbACE.Standard
/.vs
/.paket
/imbACE.TemplateExtensions
/imbACE.VSIX
/packages
/imbACE.Controls.WPF
